html, body {
 height:100%;
}

body {
  background: dimgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pixelGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  background-color: transparent;

}

.pixel {
  box-shadow: 0px 0px 0px 0.1px black inset;
  background: white;
}

.pixel:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#canvasContainer {
  width: 600px;
  height: 600px;
  display: flex;
  background-color: transparent;
}

.instrumentPanel {
  display: flex;
  max-width: 150px;
  max-height: 500px;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 5px;
  align-items: center;
}

#gridSizeSliderLabel {
  padding-left: 24px;
}

#gridSliderLabel {
  padding-left: 22px;
}

.slider {
  margin-left: 10px;
}

.checkbox {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.colorPicker {
  padding-top: 10px;
}


.colorPicker-button {
  display: flex;
  margin-bottom: 10px;
}

#eraserButton {
  width: 65px;
  text-align: center;
}

#clearAllButton {
  margin-top: 5px;
  width: 65px;
  text-align: center;
}

#saveButton {
  margin-top: 5px;
  width: 65px;
  text-align: center;
}

#colorPicker {
  padding: 0;
  --color: #000000;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

#colorPicker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker2 {
  padding: 0;
  --color: #FB3678;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

#colorPicker2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker3 {
  padding: 0;
  --color: #04FF00;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

#colorPicker3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker4 {
  padding: 0;
  --color: #BF3AFD;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

#colorPicker4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker5 {
  padding: 0;
  --color: #4E6BFD;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
}

#colorPicker5::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

.buttons {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

#saveContainer {

}

#popUpContent {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  border: 16px solid orange;
  background-color: white;
  z-index:1002;
  overflow: auto;
}

#popUpOverlay {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}