body {
  background: #2f2f33;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#pixelGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0px, 1fr));
  background-color: transparent;
  box-shadow: 0px 0.1px 1.5px 0.1px black;

}

.pixel {
  box-shadow: 0px 0px 0px 0.1px black inset;
  background: white;
}

.pixel:before {
  content: "";
  display: block;
  padding-top: 100%;
}

#canvasContainer {
  width: 600px;
  height: 600px;
  display: flex;
  background-color: transparent;
}

.instrumentPanel {
  display: flex;
  max-width: 150px;
  max-height: 500px;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 5px;
  align-items: center;
}

#gridSizeSliderLabel {
  padding-left: 24px;
}

#gridSliderLabel {
  padding-left: 31px;
}

.slider {
  margin-left: 10px;
}

.checkbox {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 5px;
}

.colorPicker {
  padding-top: 10px;
}

.colorPicker-button {
  display: flex;
  margin-bottom: 10px;
}

#colorPicker {
  padding: 0;
  --color: #000000;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

#colorPicker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker2 {
  padding: 0;
  --color: #FB3678;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

#colorPicker2::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker3 {
  padding: 0;
  --color: #04FF00;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

#colorPicker3::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker4 {
  padding: 0;
  --color: #BF3AFD;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

#colorPicker4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#colorPicker5 {
  padding: 0;
  --color: #4E6BFD;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

#colorPicker5::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 150%;
  height: 150%;
  background: var(--color);
  border-radius: 50%;
}

#backgroundColorPicker {
  padding: 0;
  --color: #4E6BFD;
  margin-top: 3px;
  width: 23px;
  height: 23px;
  position: relative;
  margin-right: 10px;
}

.buttons {
  margin-top: 7px;
  display: flex;
  flex-direction: column;
}

.colorPicker-button {
  padding-top: 5px;
}

#clearAllButton {
  margin-top: 13px;
}

.button {
  background: #D7DADC;
  display: inline-block;
  padding: 0.3em 1.1em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid #D7DADC;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2f2f33;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
}

.button:active {
  transform: translateY(1px);
}

.form-check {
  margin-top: 0.5rem;
  display: block;
  min-height: 1rem;
  padding-left: 0.8em;
  margin-bottom: 0.125rem;
}
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.2em;
  vertical-align: top;
  background-color: #2f2f33;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #D7DADC;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check-input:checked {
  background-color: #D7DADC;
  border-color: #D7DADC;
}
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
  background-color: #2f2f33;
}

.form-check-label {
  color: #D7DADC;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}